*{
    font-family: 'Source Sans Pro', sans-serif;
}

.metabox {
    border-style: none;
    border-width: thin;
    border-color:red;
}

aside {
    width:15%;
    border-style: none;
    border-width: 1px;
    border-color:red;
    padding-right:60px;
    display: inline-block;
    text-align: right;
    vertical-align:top;
    z-index: 1;
}

  aside h3{
    color:rgb(200,200,200);
    padding-bottom:3px;
  }

  aside h2 {
    color:5DBBEA;
    font-size: 1.7em;
  }

  .icon_container {
    position: absolute;
    vertical-align: top;
    display: inline-block;
    border-style: solid;
    border-width: 10px;
    border-color: B4DDF4;
    border-radius:50%;
    background-color: 5DBBEA;
    width:40px;
    height:40px;
    margin-left:-25px;
    margin-top:-7px;
  }

  i{
      position: absolute;
      vertical-align: top;
      display: inline-block;
      margin-top:5px;
      /*margin-left:-28px;
      margin-top:-10px;
      padding:6px 3px;
      border-style: solid;
      border-width: 10px;
      border-color: B4DDF4;
      border-radius:50%;
      background-color: 5DBBEA;*/
      z-index: 0;


  }

.arrow-container{
    position: absolute;
    display: inline-block;
    vertical-align: top;
    margin-left: -12px;
}

.arrow-left {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;

    border-right:15px solid #5DBBEA;
    display:inline-block;
    vertical-align: top;
    margin-top:10px;
    margin-right:500px;

}

.fa {
    color:white;
}

section {
  padding-left:4%;
  border-style:none;
  border-color:red;
  border-width:1px;
  border-left-style:solid;
  border-left-color: B4DDF4;
  border-left-width: 10px;
  padding-bottom:20px;
  width:50%;
  display: inline-block;
}

.blue-box {
    padding:40px;
    padding-bottom:60px;
    border-color:red;
    border-style:none;
    border-width:thin;
    border-radius:5px;
    background-color:5DBBEA;
    color:white;

}

h1 {
    font-size: 2em;
    font-weight:bold;
    border-style:none;
    border-bottom-style:solid;
    border-width: thin;
    padding-bottom: 15px;

}

p {
    font-size: 1.2em;
    font-weight:lighter;
    border-style: none;
    border-width: thin;
    padding-top:30px;
    line-height: normal;
}
