*{
    font-family: 'Source Sans Pro', sans-serif;
}

/*----------HEADER----------*/

body{
    width:80%;
    margin:0 auto;
    border-style: none;
    border-color:red;
    border-width:3px;
}

header{
    position:fixed;
    border-style: none;
    border-width: thin;
    border-color: red;
    border-bottom-style: solid;
    border-bottom-color:rgb(180,180,180);
    border-bottom-width:3px;
    width:80%;
    margin:0 auto;
    margin-bottom:0px;
    padding: 0px 0;
    padding-bottom: 0px;
    background-color: white;
    z-index: 1;
    padding-top:40px;
    padding-bottom:10px;
}

header h3 {
    letter-spacing: .4em;
    font-weight: bold;
    font-size:1.1em;
    color: #2491D0;
}

header h1 {
    font-size: 2.3em;
    color: 2491D0;
    padding-top:12px;
}

.left-header {
  display: inline-block;
  border-style: none;
  border-width: thin;
  border-color: red;
  vertical-align: top;
}


.right-header {
  display: inline-block;
  border-style: none;
  border-width: thin;
  border-color: red;
  float:right;
  vertical-align: bottom;
  padding-top:7px;
}

.pointleft {
  border-style: solid;
  border-width: 3px;
  border-color: #2491D0;
  border-radius: 50%;
  width:35px;
  height: 35px;
  display: inline-block;
  background-color: white;
}

.pointleft:hover{
  background-color:#F69265;
  transition: background-color  500ms linear
}

.pointleft i {
  position: absolute;
  color: #2491D0;
  text-align: center;
  margin-left:7px;
  margin-top: 9px;
}

.pointright {
  border-style: solid;
  border-width: 3px;
  border-color: #2491D0;
  border-radius: 50%;
  width:35px;
  height: 35px;
  display: inline-block;
}

.pointright:hover{
  background-color:#F69265;
  transition: background-color  500ms linear
}

.pointright i {
  position: absolute;
  color: #2491D0;
  text-align: center;
  margin-left:9px;
  margin-top: 9px;
}

.water {
  border-style: solid;
  border-width: 3px;
  border-color: #2491D0;
  border-radius: 50%;
  width:35px;
  height: 35px;
  display: inline-block;
}

.water:hover{
  background-color:#F69265;
  transition: background-color  500ms linear
}

.water i {
  position: absolute;
  color: #2491D0;
  text-align: center;
  margin-left:11px;
  margin-top: 11px;
}

.folder {
  border-style: solid;
  border-width: 3px;
  border-color: #2491D0;
  border-radius: 50%;
  width:35px;
  height: 35px;
  display: inline-block;
}

.folder:hover{
  background-color:#F69265;
  transition: background-color  500ms linear
}

.folder i {
  position: absolute;
  color: #2491D0;
  text-align: center;
  margin-left:8px;
  margin-top: 11px;
}

/*---------CONTAINERS---------*/

.content{
    margin-top:0px;
    border-style: none;
    border-width: thin;
    border-color: red;
    padding-top:150px;
}

.metabox {
    border-style: none;
    border-width: thin;
    border-color:red;
}

aside {
    width:15%;
    border-style: none;
    border-width: 1px;
    border-color:red;
    padding-right:60px;
    display: inline-block;
    text-align: right;
    vertical-align:top;
    z-index: 1;
}

  aside h3{
    color:rgb(200,200,200);
    padding-bottom:3px;
  }

  aside h2 {
    color:5DBBEA;
    font-size: 1.7em;
  }

  .icon_container {
    position: absolute;
    vertical-align: top;
    display: inline-block;
    border-style: solid;
    border-width: 10px;
    border-color: B4DDF4;
    border-radius:50%;
    background-color: 5DBBEA;
    width:40px;
    height:40px;
    margin-left:-25px;
    margin-top:-7px;

  }

  .icon_container_desktop{
    margin-left:6px;
    margin-top:7px;
  }

  .metabox i{
      position: absolute;
      vertical-align: top;
      display: inline-block;
      margin-top:5px;
      /*margin-left:-28px;
      margin-top:-10px;
      padding:6px 3px;
      border-style: solid;
      border-width: 10px;
      border-color: B4DDF4;
      border-radius:50%;
      background-color: 5DBBEA;*/
      z-index: 0;
  }



.arrow-container{
    position: absolute;
    display: inline-block;
    vertical-align: top;
    margin-left: -12px;
}

.arrow-left {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;

    border-right:15px solid #5DBBEA;
    display:inline-block;
    vertical-align: top;
    margin-top:10px;
    margin-right:500px;

}

.fa {
    color:white;
}

section {
  /*padding-left:4%;*/
  padding-left:60px;
  border-style:none;
  border-color:red;
  border-width:1px;
  border-left-style:solid;
  border-left-color: B4DDF4;
  border-left-width: 10px;
  padding-bottom:20px;
  width:60%;
  display: inline-block;
}

.blue-box {
    padding:40px;
    padding-bottom:60px;
    border-color:red;
    border-style:none;
    border-width:thin;
    border-radius:5px;
    background-color:5DBBEA;
    color:white;

}

.metabox h1 {
    font-size: 2em;
    font-weight:bold;
    border-style:none;
    border-bottom-style:solid;
    border-width: thin;
    padding-bottom: 15px;

}

p {
    font-size: 1.2em;
    font-weight:lighter;
    border-style: none;
    border-width: thin;
    padding-top:30px;
    line-height: normal;
}
